{% extends 'global.html' %}
{% block title %}Solicitar desactivar usuario{% endblock %}

{% block content %}

<div class = "VerticalCenter_container"> <!--ESTE CONTAINER EXISTE CON EL ÚNICO PROPOSITO DE CENTRAR VERTICALMENTE LA SECCIÓN INDIVIDUAL-->
	<div class="individualSection">
		<div class = "individualSection_Title">
			<h2><b>Solicitar desactivación de usuario</b></h2>
		</div>

		<div class="individualSection_Body">
			<h4>Está a punto de solicitar la desactivación del siguiente usuario</h4>

			<p><img class = "individualSection_image" src="{{ user.profile.profile_image.url }}"></p>

			<ul class = "object_Text" style="list-style: none;">
				<li><b>Usuario: </b>{{ user }}</li>
				<li><b>Nombre: </b>{{ user.first_name }} {{ user.last_name }}</li>
				<li><b>Tipo de usuario: </b>{{ user.profile.user_Type }}</li>
				<li><b>Correo electrónico: </b>{{ user.profile.email }}</li>
			</ul>

			<div class="individualSection_Buttons">
				<form method="POST">
					{% csrf_token %}
					<button name = "deactivate_user_request" class = "Confirm_Button">Solicitar</button>
				</form>
			</div>

		</div>

	</div>

</div>

{% endblock %}