{% extends 'global.html' %}
{% block title %}Invitaciones validadas{% endblock %}

{% block content %}

<div id = "Table-section">

	<div class = "title-container">
		<i id = "Table_Icon_title" class="fa-solid fa-shop"></i>
		<h3><b>Invitaciones validadas</b></h3>
	</div>

	<table id = "requests_table" class = "table">
		<thead>
			<tr>
				<th class = "Referencial_header" scope="col">ID</th>
				<th scope="col">Email</th>
				<th scope="col">Invitación para usuario de tipo</th>
				<th scope="col">Fecha de creación</th>
				<th scope="col">Usuario emisor</th>
				<th scope="col">Fecha de validación</th>
				<th scope="col">Validada por</th>
			</tr>
		</thead>

		<tbody>
			{% for invitation in validated_invitation_requests %}
				<tr style="background-color: #E3FFE7;">
					<td class = "Referencial_cell"><b>{{ invitation.id }}</b></td>
					<td>{{ invitation.email }}</td>
					<td>{{ invitation.user_Type }}</td>
					<td>{{ invitation.created_date }}</td>
					<td>{{ invitation.User_sender }}</td>
					<td>{{ invitation.validation_date }}</td>
					<td>{{ invitation.validation_by }}</td>

				</tr>
			{% endfor %}
		</tbody>

	</table>
</div>

{% endblock %}