*{
    box-sizing: border-box;
}

.container {
	font-family: sans-serif; 
	margin: auto;
	width: 400px;
	padding: 3rem 2rem;
	background: #E3E3E3;
}

.container h1 {
	text-align: center;
}

input:not(.Signup-btn){
	width: 100%;
	border: 1px solid #ccc;	
}

.Signup-btn{
	width: 100%;
	background: #333;
    color: #fff;
    border: 1px solid #ccc;
    padding: 8px;
}

.errorlist{
	color: #842029;
	background-color: #f8d7da;
	border-color: #f5c2c7;
	border: 1px solid;
	list-style: none;
	text-align: center;
	padding: 1rem 3px;
}

.alert{
	color: #842029;
	background-color: #f8d7da;
	border-color: #f5c2c7;
	border: 1px solid;
	list-style: none;
	text-align: center;
	padding: 1rem 3px;
}

ul, .helptext{
	color: #716969;
}