{% extends 'global.html' %}
{% block title %}Solicitar modificar producto{% endblock %}

{% block content %}

<div class = "VerticalCenter_container"> <!--ESTE CONTAINER EXISTE CON EL ÚNICO PROPOSITO DE CENTRAR VERTICALMENTE LA SECCIÓN INDIVIDUAL-->
	<div class="individualSection">
		<div class = "individualSection_Title">
			<h2><b>Solicitar modificar producto</b></h2>
		</div>

		<div class="individualSection_Body">

			<form class="Edit_form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}

				<div class="individualSection_Buttons">
					<button name = "modify_product_request" class="Confirm_Button" type="submit">Solicitar</button>
				</div>

			</form>

		</div>
	</div>
</div>

{% endblock %}
