{% extends 'global.html' %}
{% block title %}Detalle de producto{% endblock %}

{% block content %}

<div class = "VerticalCenter_container"> <!--ESTE CONTAINER EXISTE CON EL ÚNICO PROPOSITO DE CENTRAR VERTICALMENTE LA SECCIÓN INDIVIDUAL-->
	<div class="individualSection">
		<div class = "individualSection_Title">
			<h2><b>Detalle de producto</b></h2>
		</div>

		<div class="individualSection_Body">
			<p><img class = "individualSection_image" src="{{ product.product_image.url }}"></p>


			<ul class = "object_Text" style="list-style: none;">
				<li><b>SKU:</b> {{ product.SKU }}</li>
				<li><b>Descripción:</b> {{ product.Description }}</li>
				<li><b>Clasificación:</b> {{ product.classification }}</li>
				<li><b>Tipo de producto:</b> {{ product.Product_type }}</li>
			</ul>

			<ul class = "user_Text" style="list-style: none;">
				<li><b>Producto Creado por:</b> <p>{{ product.created_by }} el {{ product.created_date }}</p></li>

				{% if product.validation == True %}
					<li><b>Validado por:</b> <p>{{ product.validation_by }} el {{ product.validation_date }}</p></li>
				{% endif %}
			</ul>


			{% if product.Product_type == 'PACK' %}
				<h2 class = "PACK_content_title"><b>Contenido del PACK</b></h2>

				
				{% for PACKInformation in PACKInformation %}
					<ul class = "PACK_content" style="list-style: none;">
						<li><b>SKU:</b> {{ PACKInformation.SKU_CHILD }}</li>
						<li><b>Descripción:</b> {{ PACKInformation.SKU_CHILD.Description }}</li>
						<li><b>Cantidad:</b> {{ PACKInformation.CHILD_QUANTITY }}</li>
					</ul>
				{% endfor %}
				
			{% endif %}


		</div>

	</div>

</div>

{% endblock %}