{% extends 'global.html' %}
{% block title %}Detalle de solicitud de restauración de producto{% endblock %}

{% block content %}

<div class = "VerticalCenter_container"> <!--ESTE CONTAINER EXISTE CON EL ÚNICO PROPOSITO DE CENTRAR VERTICALMENTE LA SECCIÓN INDIVIDUAL-->
	<div class="individualSection">
		<div class = "individualSection_Title">
			<h2><b>Detalle de solicitud de restauración de producto</b></h2>
		</div>


		<div class="individualSection_Body">


			<p><img class = "individualSection_image" src="{{ product.product_image.url }}"></p>

			<ul class = "object_Text" style="list-style: none;">
				<li><b>SKU:</b> {{ product.SKU }}</li>
				<li><b>Descripción:</b> {{ product.Description }}</li>
				<li><b>Clasificación:</b> {{ product.classification }}</li>
				<li><b>Tipo de producto:</b> {{ product.Product_type }}</li>
			</ul>


			{% if PACKInformation %}
				<h2 class = "PACK_content_title"><b>Contenido del PACK</b></h2>

				
				{% for PACKInformation in PACKInformation %}
					<ul class = "PACK_content" style="list-style: none;">
						<li><b>SKU:</b> {{ PACKInformation.SKU_CHILD }}</li>
						<li><b>Descripción:</b> {{ PACKInformation.SKU_CHILD.Description }}</li>
						<li><b>Cantidad:</b> {{ PACKInformation.CHILD_QUANTITY }}</li>
					</ul>
				{% endfor %}
				
			{% endif %}	

			
			Id solicitud de restauración: {{ RestoreRequest.id }}

			<ul class = "user_Text" style="list-style: none;">
				<li><b>Solicitado por:</b> <p>{{ RestoreRequest.created_by }} el {{ RestoreRequest.created_date }}</p></li>
				
				{% if RestoreRequest.validation == True %}
					<li><b>Validado por:</b> <p>{{ RestoreRequest.validation_by }} el {{ RestoreRequest.validation_date }}</p></li>
				{% endif %}
			</ul>

		</div>

	</div>

</div>

{% endblock %}