{% extends 'global.html' %}
{% block title %}Validar modificación de producto{% endblock %}

{% block content %}

<div class = "VerticalCenter_container"> <!--ESTE CONTAINER EXISTE CON EL ÚNICO PROPOSITO DE CENTRAR VERTICALMENTE LA SECCIÓN INDIVIDUAL-->
	<div class="individualSection">
		<div class = "individualSection_Title">
			<h2><b>Validar modificación de producto</b></h2>
		</div>

		<div class="individualSection_Body">
			<h4>Está a punto de validar la siguiente modificación</h4>

			<h3><b>Producto actual</b></h3>

			<p><img class = "individualSection_image" src="{{ product.product_image.url }}"></p>

			<ul class = "object_Text" style="list-style: none;">
				<li><b>SKU:</b> {{ product.SKU }}</li>
				<li><b>Descripción:</b> {{ product.Description }}</li>
				<li><b>Clasificación:</b> {{ product.classification }}</li>
				<li><b>Tipo de producto:</b> {{ product.Product_type }}</li>
			</ul>


			<h3><b>Producto con modificación</b></h3>

			<p><img class = "individualSection_image" src="{{ ModifyRequest.modified_product_image.url }}"></p>

			<ul class = "object_Text" style="list-style: none;">
				<li><b>SKU:</b> {{ product.SKU }}</li>
				<li><b>Descripción:</b> {{ ModifyRequest.modified_Description }}</li>
				<li><b>Clasificación:</b> {{ ModifyRequest.modified_classification }}</li>
				<li><b>Tipo de producto:</b> {{ product.Product_type }}</li>
			</ul>

			Id solicitud de modificación: {{ ModifyRequest.id }}

			<ul class = "user_Text" style="list-style: none;">
				<li><b>Solicitado por:</b> <p>{{ ModifyRequest.created_by }} el {{ ModifyRequest.created_date }}</p></li>
			</ul>

			<div class="individualSection_Buttons">
				<form method="POST">
					{% csrf_token %}
					<button class = "Confirm_Button" name = "validateModification">Validar</button>
					<button class = "rejectButton" name = "rejectModification">Rechazar</button>
				</form>
			</div>

		</div>

	</div>

</div>

{% endblock %}