{% extends 'global.html' %}
{% block title %}Validar desactivación de producto{% endblock %}

{% block content %}

<div class = "VerticalCenter_container"> <!--ESTE CONTAINER EXISTE CON EL ÚNICO PROPOSITO DE CENTRAR VERTICALMENTE LA SECCIÓN INDIVIDUAL-->
	<div class="individualSection">
		<div class = "individualSection_Title">
			<h2><b>Validar desactivación de producto</b></h2>
		</div>

		<div class="individualSection_Body">
			<h4>Está a punto de validar la desactivación del siguiente producto</h4>

			<p><img class = "individualSection_image" src="{{ product.product_image.url }}"></p>


			<ul class = "object_Text" style="list-style: none;">
				<li><b>SKU:</b> {{ product.SKU }}</li>
				<li><b>Descripción:</b> {{ product.Description }}</li>
				<li><b>Clasificación:</b> {{ product.classification }}</li>
				<li><b>Tipo de producto:</b> {{ product.Product_type }}</li>
			</ul>

			{% if PACKInformation %}
				<h2 class = "PACK_content_title"><b>Contenido del PACK</b></h2>

				
				{% for PACKInformation in PACKInformation %}
					<ul class = "PACK_content" style="list-style: none;">
						<li><b>SKU:</b> {{ PACKInformation.SKU_CHILD }}</li>
						<li><b>Descripción:</b> {{ PACKInformation.SKU_CHILD.Description }}</li>
						<li><b>Cantidad:</b> {{ PACKInformation.CHILD_QUANTITY }}</li>
					</ul>
				{% endfor %}
				
			{% endif %}


			Id solicitud de desactivación: {{ DeactivateRequest.id }}

			<ul class = "user_Text" style="list-style: none;">
				<li><b>Solicitado por:</b> <p>{{ DeactivateRequest.created_by }} el {{ DeactivateRequest.created_date }}</p></li>
			</ul>


			{% if RelatedPACKS %}

				<div style="text-align:center;">
					<h2 style="color:red;"><b>ADVERTENCIA</b></h2>

					<p>Al desactivar el siguiente producto, también desactivara los siguientes PACKS relacionados</p>
				</div>

				{% for RelatedPACK in RelatedPACKS %}
					<ul class = "PACK_content" style="list-style: none;">
						<li><b>SKU:</b> {{RelatedPACK.SKU_PACK }}</li>
						<li><b>Descripción:</b> {{RelatedPACK.SKU_PACK.Description }}</li>
					</ul>
				{% endfor %}

			{% endif %}



			<div class="individualSection_Buttons">
				<form method="POST">
					{% csrf_token %}
					<button class = "Confirm_Button" name = "validateDeactivation">Validar</button>
					<button class = "rejectButton" name = "rejectDeactivation">Rechazar</button>
				</form>
			</div>

		</div>

	</div>

</div>

{% endblock %}