{% extends 'global.html' %}
{% block title %}Detalle de solicitud de desactivación de canal de venta{% endblock %}

{% block content %}

<div class = "VerticalCenter_container"> <!--ESTE CONTAINER EXISTE CON EL ÚNICO PROPOSITO DE CENTRAR VERTICALMENTE LA SECCIÓN INDIVIDUAL-->
	<div class="individualSection">
		<div class = "individualSection_Title">
			<h2><b>Detalle de solicitud de desactivación de canal de venta</b></h2>
		</div>


		<div class="individualSection_Body">


			<p><img class = "individualSection_image" src="{{ marketplace.marketplace_image.url }}"></p>
			
			<ul class = "object_Text" style="list-style: none;">
				<li><b>Nombre canal:</b> {{ marketplace.Marketplace_name }}</li>
				<br>
				<li><b>Descripción referencial:</b><p class = "referencial_description_textbox"> {{ marketplace.referencial_description }} </p></li>
			</ul>
			
			Id solicitud de desactivación: {{ DeactivateRequest.id }}

			<ul class = "user_Text" style="list-style: none;">
				<li><b>Solicitado por:</b> <p>{{ DeactivateRequest.created_by }} el {{ DeactivateRequest.created_date }}</p></li>
				
				{% if DeactivateRequest.validation == True %}
					<li><b>Validado por:</b> <p>{{ DeactivateRequest.validation_by }} el {{ DeactivateRequest.validation_date }}</p></li>
				{% endif %}
			</ul>

		</div>

	</div>

</div>

{% endblock %}