{% extends 'global.html' %}
{% block title %}Canales de venta{% endblock %}

{% block content %}

<div id = "Table-section">

	<div class = "title-container">
		<i id = "Table_Icon_title" class="fa-solid fa-shop"></i>
		<h3><b>Canales de ventas</b></h3>
	</div>

	<div class="table-container">
		<table class = "table" style = "box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);">
			<thead style="border-bottom: 2px solid #009879;">
				<tr style="background-color: #009879;">
					<th scope="col">Logo</th>
					<th scope="col">Nombre canal</th>
					<th scope="col">Ingresado por</th>
					<th scope="col">Fecha de ingreso</th>
					<th scope="col"></th>
				</tr>
			</thead>

			<tbody>
				{% for marketplace in validated_marketplaces %}
				<tr>
					<td><img class="marketplace-thumbnail" src="{{ marketplace.marketplace_image.url }}"></td>
					<td>{{ marketplace.Marketplace_name }}</td>
					<td>{{ marketplace.validation_by }}</td>
					<td>{{ marketplace.validation_date }}</td>
					<td>
						<div class="dropdown_individual_commands">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuProduct" data-bs-toggle="dropdown" aria-expanded="false">
							</button>

							<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuProduct">
								<li><a href="{% url 'marketplaces:Marketplace_detail' marketplace.id %}" class="dropdown-item">Detalle</a></li>
								
								{% if request.user.profile.user_Type == "Trabajador" %}
									<li><a href="{% url 'marketplaces:modify_marketplace_request' marketplace.id %}" class="dropdown-item">Solicitar Modificación</a></li>
								{% endif %}

								{% if request.user.profile.user_Type == "Trabajador" %}
									<li><a href="{% url 'marketplaces:deactivate_marketplace_request' marketplace.id %}" class="dropdown-item">Solicitar Desactivación</a></li>
								{% endif %}
							</ul>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>

		</table>
	</div>
</div>

<!-- Add Marketplace Modal -->
<div
	class="modal fade"
	id="add-modal-marketplace"
	tabindex="-1"
	aria-labelledby="enrollLabel"
	aria-hidden="true"
>  

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="enrollLabel">Creación de canal de venta</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
		<div class="modal-body">
				
					
				<form id="AddMarketplace-form" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<p style="text-align:right;">(*) Campo obligatorio</p>
						{{form.as_p}} 

						<button
						type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal"
						> Cerrar
						</button>

						<button type="submit" name="createMarketplace" class="btn btn-primary">Crear</button>
				</form>
					
				
			</div>
		</div>
	</div>
</div>

{% endblock %}