{% extends 'global.html' %}
{% block title %}Canales de venta sin validar{% endblock %}

{% block content %}

<div id = "Table-section">

	<div class = "title-container">
		<i id = "Table_Icon_title" class="fa-solid fa-shop"></i>
		<h3><b>Solicitudes de creación de Canales de ventas</b></h3>
	</div>

	<table id = "requests_table" class = "table">
		<thead>
			<tr>
				<th scope="col">Nombre canal</th>
				<th scope="col">Solicitado por</th>
				<th scope="col">Fecha de solicitud</th>
				<th scope="col"></th>
			</tr>
		</thead>

		<tbody>
			{% for marketplace in unvalidated_marketplaces %}
			<tr>
				<td>{{ marketplace.Marketplace_name }}</td>
				<td>{{ marketplace.created_by }}</td>
				<td>{{ marketplace.created_date }}</td>
				<td>
					<div class="dropdown_individual_commands">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu_InvalidMarketplace" data-bs-toggle="dropdown" aria-expanded="false">
						</button>

						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenu_InvalidMarketplace">
							<li><a href="{% url 'marketplaces:Marketplace_detail' marketplace.id %}" class="dropdown-item">Detalle</a></li>
							
							{% if request.user.profile.user_Type == "Administrador" %}
								<li><a href="{% url 'marketplaces:validate_marketplace' marketplace.id %}" class="dropdown-item">Decidir</a></li>
							{% endif %}

						</ul>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>

	</table>
</div>

{% endblock %}